server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bank_transactions
    username: root
    password: nigga
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
